/* You can add global styles to this file, and also import other style files */

/* To make the texts un-draggable */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* To remove dotted lines from links during click, focus and active */
a {
   outline: 0;
}


.dashed-border-gray {
  border: 2px dashed #CDC;
}

.filter-link-button {
  padding: 5px;
  background-color: #3AABBB;
}

.margin-10 {
  margin: 10px;
}

/*Animations */
/* .animated lightSpeedIn
{
  animation-duration: 0.2s;
  animation-delay: 0.3s;
  animation-iteration-count: 3;
} */